@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
}

:root {
	--bg-color: #2a2a2a;
	--second-bg-color: #1f242d;
	--third-bg-color: #323946;
	--fourth-bg-color: #081b29;
	--fifth-bg-color: #112e42;
	--text-color: #ededed;
	--main-color: #1127f1;
}

html {
	font-size: 60%;
	overflow-x: hidden;
	color: var(--text-color);
}

body {
	background-color: var(--second-bg-color);
}

/* Navbar Section */

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 2rem 9%;
	display: flex;
	background: transparent;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
	transition: 0.3s;
}

.header.active {
	background: var(--second-bg-color);
}

.logo {
	font-size: 3rem;
	color: var(--text-color);
}

.logo span {
	color: var(--main-color);
}

.hidden {
	display: none;
}

.navbar > a {
	font-size: 1.5rem;
	font-weight: 500;
	margin-left: 3.5rem;
	color: var(--text-color);
	transition: 0.3s;
}

.navbar > a:hover {
	color: var(--main-color);
}

.nav_toggler > div {
	width: 3rem;
	height: 0.2rem;
	margin: 0.4rem;
	background: var(--text-color);
	cursor: pointer;
	display: none;
	transition: 0.3s ease-in;
}

.resume_btn {
	width: auto;
	height: auto;
	padding: 10px;
	background: var(--main-color);
	border: 0.3rem solid var(--main-color);
	border-radius: 0.8rem;
	font-size: 1.5rem;
	font-weight: 700;
	letter-spacing: 0.1rem;
	color: var(--second-bg-color);
}

.resume_btn:hover {
	color: var(--main-color);
	background-color: transparent;
	transition: 0.2s ease-out;
}

/* Navbar Section End */

/* Home Section */

.home {
	background: url('./assets/image/background_img.png') no-repeat;
	background-size: cover;
	background-position: 100px 100px 100px;
}

.home_content {
	min-height: 100vh;
	padding: 9rem 0 0 9%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.left_col {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.right_col {
	width: 100%;
	height: 100%;
}

.text_content h1 {
	font-size: 5.6rem;
	font-weight: 700;
	line-height: 1.3;
}

.text_content .text_animate {
	position: relative;
	width: 43rem;
}

.text_content .text_animate h3 {
	font-size: 3.2rem;
	font-weight: 700;
	color: transparent;
	-webkit-text-stroke: 0.7px var(--main-color);
	background-image: linear-gradient(var(--main-color), var(--main-color));
	background-repeat: no-repeat;
	-webkit-background-clip: text;
	background-position: -45rem 0;
	animation: HomeBgText 6s linear infinite;
	animation-delay: 2s;
}

.text_content .text_animate h3::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	border-right: 2px solid var(--main-color);
	z-index: 1;
	animation: HomeCursorText 6s linear infinite;
	animation-delay: 2s;
}

.text_content p {
	font-size: 1.6rem;
	margin: 2rem 0 4rem;
}

.btn_box {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 50rem;
}

.btn_box > span {
	font-size: 2.5rem;
	font-weight: 600;
}

.projects_btn {
	width: auto;
	padding: 10px;
	height: auto;
	background: transparent;
	border: 0.3rem solid var(--main-color);
	border-radius: 0.8rem;
	font-size: 2.2rem;
	font-weight: 700;
	letter-spacing: 0.1rem;
	color: var(--main-color);
}

.projects_btn:hover {
	transform: scale(1.1);
	transition: 0.2s ease-in-out;
}

.hire_me-btn {
	width: auto;
	height: auto;
	padding: 20px;
	background: var(--main-color);
	border: 0.3rem solid var(--main-color);
	border-radius: 0.8rem;
	font-size: 2.5rem;
	font-weight: 800;
	letter-spacing: 0.1rem;
	color: var(--second-bg-color);
}

.hire_me-btn:hover {
	transform: scale(1.1);
	transition: 0.2s ease-in-out;
}

.right_col .home_img-hover {
	width: 100%;
	height: 100%;
	background: transparent;
	transition: 1s;
}

.right_col .home_img-hover:hover {
	background: var(--second-bg-color);
	opacity: 0.6;
}

/* Home Section End */

/* About Section */

.about {
	display: grid;
	grid-template-columns: 1fr auto;
	height: 100vh;
	background: var(--bg-color);
	padding: 9rem 9% 0 9%;
	gap: 1rem;
}

.about_img-container {
	height: 100%;
	padding-right: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.about_img {
	height: 350px;
	width: 400px;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	background-color: var(--second-bg-color);
	box-shadow: 0px 30px 0px -10px rgba(255, 255, 255, 0.44);
}

.about_img > img {
	width: inherit;
	height: inherit;
	position: absolute;
	opacity: 0.5;
}

.about_img:hover {
	box-shadow: 0px 30px 0px -10px rgba(0, 0, 0, 0.44);
	transition: 0.2s ease-in-out;
}

.about_img > img:hover {
	opacity: 1;
	transition: 0.2s ease-in-out;
}

.about_text {
	width: 100%;
	height: 100%;
	padding-top: 2rem;
}

.about_text > h2 {
	font-size: 5rem;
	line-height: 20px;
}

.about_text > h2 > span {
	color: var(--main-color);
}

.about_text > h5 {
	font-size: 3rem;
	font-weight: 500;
	line-height: 1.7;
	margin: 15px 0 20px;
	text-decoration: underline var(--main-color);
}

.about_text > p {
	font-size: 1.6rem;
	line-height: 1.3;
	margin-bottom: 1.5rem;
}

/* About Section End */

/* Skills Section */

.skills {
	background: var(--second-bg-color);
	padding: 9rem 9% 0 9%;
	min-height: 100vh;
}

.skills_heading {
	font-size: 5rem;
	line-height: 1;
	color: var(--text-color);
	text-align: center;
	margin-bottom: 2rem;
}

.skills_heading > span {
	color: var(--main-color);
}

.skills h4 {
	font-size: 3rem;
	font-weight: 600;
	text-decoration: underline var(--main-color);
	margin-bottom: 10px;
}

.skills h5 {
	font-size: 2rem;
	font-weight: 500;
	margin-bottom: 10px;
}

.skills h5 span {
	text-decoration: underline var(--main-color);
}

.skills ul li {
	list-style: none;
	font-size: 1.6rem;
}

.skills ul li:hover {
	color: var(--main-color);
	transition: 0.3s ease-out;
}

.core_skill-container {
	text-align: center;
	background-color: var(--bg-color);
	border: 1px solid var(--main-color);
	border-radius: 10px;
	margin-bottom: 2rem;
}

.core_skill-container:hover {
	background-color: var(--second-bg-color);
	transition: 0.3s ease-in-out;
}

.core_skills {
	display: flex;
	justify-content: space-evenly;
	padding: 10px;
}

.tech_skill-container {
	border: 1px solid var(--main-color);
	border-radius: 10px;
	text-align: center;
	padding: 10px;
}

.tech_skill-container:hover {
	background-color: var(--bg-color);
	transition: 0.3s ease-in-out;
}

.tech_skills {
	display: flex;
	justify-content: space-evenly;
}

.frontend_container {
	display: flex;
	flex-direction: column;
}

.backend_container {
	display: flex;
	flex-direction: column;
}

.database_container {
	display: flex;
	flex-direction: column;
}

/* Skills Section End */

/* Projects Section */

.projects {
	background: var(--bg-color);
	padding: 9rem 9% 0 9%;
	min-height: 100vh;
	text-align: center;
}

.projects > .projects_heading {
	font-size: 5rem;
	line-height: 1;
	color: var(--text-color);
	text-align: center;
	margin-bottom: 3rem;
}

.projects > .projects_heading > span {
	color: var(--main-color);
}

.projects_container {
	width: 100%;
	height: 350px;
	display: flex;
	flex-direction: row;
	position: relative;
	overflow: hidden;
	border-radius: 10px;
	border: 0.5px solid var(--main-color);
}

.project_text-container {
	width: 40%;
	padding: 20px;
}

.project_headings {
	text-align: left;
}

.project_headings p {
	letter-spacing: 1px;
	font-size: 1.5rem;
}

.project_headings h2 a {
	letter-spacing: 2px;
	color: var(--main-color);
	font-size: 3.5rem;
}

.project_headings h2 a:hover {
	text-decoration: underline var(--text-color);
	transition: 0.3s ease-in-out;
}

.project_contents {
	border-radius: 10px;
	padding: 25px 15px;
	width: 700px;
	position: absolute;
	left: 20px;
	top: 50%;
	z-index: 1;
	background-color: var(--second-bg-color);
	box-shadow: 2px 2px 3px;
}

.project_contents > p {
	text-align: left;
	font-size: 1.5rem;
	margin-bottom: 10px;
}

.technologies_used {
	list-style: none;
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.technologies_used li {
	font-weight: 500;
	background-color: var(--main-color);
	letter-spacing: 1px;
	padding: 10px;
	border-radius: 10px;
}

.project_image-container {
	width: 60%;
	overflow: hidden;
	background-color: var(--main-color);
	position: relative;
}

.project_image-container img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0.7;
}

.project_image-container img:hover {
	opacity: 1;
	transition: 0.3s ease-in-out;
}

.more_projects {
	margin: 30px 0;
}

.more_projects a {
	color: var(--text-color);
	letter-spacing: 1px;
	font-weight: 500;
	font-size: 3rem;
	text-decoration: underline var(--main-color);
}

.more_projects a:hover {
	color: var(--main-color);
	transform: scale(1.1);
	text-decoration: underline var(--text-color);
	transition: 0.3s ease-in-out;
}

/* Projects Section End*/

/* Contact Section */

.contact {
	padding: 10rem 9% 2rem;
	min-height: 100vh;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	gap: 2.5rem;
}

.contact_text {
	width: 100%;
	height: 100%;
}

.contact_text > h2 {
	font-size: 5rem;
	line-height: 1;
	margin-bottom: 20px;
}

.contact_text > h2 > span {
	color: var(--main-color);
}

.contact_text > p {
	font-size: 1.5rem;
	line-height: 1.5;
	margin-bottom: 50px;
}

.contact_text ul {
	padding: 0 50px;
	list-style: none;
}

.contact_text ul li {
	margin-bottom: 20px;
}

.contact_text ul li a {
	color: var(--text-color);
	font-size: 1.8rem;
	letter-spacing: 1px;
}

.contact_text ul li a:hover {
	color: var(--main-color);
	transition: 0.3s ease-in-out;
	text-decoration: underline var(--text-color);
}

.contact_text ul li i {
	font-size: 4rem;
	color: black;
	margin: 0 7px;
}

.frontend_mentor-logo {
	margin: 0 16px;
}

.contact_form {
	width: 100%;
	height: 100%;
}

.contact_form > form {
	position: relative;
}

.contact_form > form > input,
form > textarea {
	width: 100%;
	padding: 14px;
	background: var(--bg-color);
	color: var(--text-color);
	border: none;
	outline: none;
	font-size: 15px;
	border-radius: 8px;
	margin-bottom: 10px;
}

.contact_form > textarea {
	resize: none;
	height: 240px;
}

.contact_btn {
	width: auto;
	height: auto;
	padding: 10px;
	background: var(--main-color);
	border: 0.3rem solid var(--main-color);
	border-radius: 0.8rem;
	font-size: 1.5rem;
	font-weight: 700;
	letter-spacing: 0.1rem;
	color: var(--second-bg-color);
}

.contact_btn:hover {
	color: var(--main-color);
	background-color: transparent;
	transition: 0.2s ease-out;
}

/* Contact Section End*/

/* Footer Section */

footer {
	padding: 10px 10%;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	gap: 2rem;
	background: var(--bg-color);
}

.last_text > p {
	font-size: 1.3rem;
	letter-spacing: 1px;
}

.arrow_top > a > i {
	border-radius: 8px;
	font-size: 30px;
	color: var(--text-color);
	background: var(--main-color);
}

/* Footer Section End*/

/* Responsive Section */

@media (max-width: 768px) {
	html {
		font-size: 50%;
	}

	.header {
		background: var(--second-bg-color);
	}

	.nav_toggler > div {
		display: block;
	}

	.resume-btn {
		display: none;
	}

	.navbar {
		position: absolute;
		top: 100%;
		right: 0;
		width: auto;
		padding: 1rem 4%;
		background-color: var(--second-bg-color);
		box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
		transform: translateX(100%);
		transition: 0.3s ease-in;
	}

	.navbar_active {
		transform: translateX(0);
	}

	.toggle > .line1 {
		transform: rotate(-50deg) translate(-4px, 5px);
	}
	.toggle > .line2 {
		opacity: 0;
	}
	.toggle > .line3 {
		transform: rotate(50deg) translate(-4px, -5px);
	}

	.navbar > a {
		text-align: center;
		display: block;
		font-size: 2rem;
		margin: 3rem 0;
	}

	.home_img-hover {
		pointer-events: none;
	}

	.about {
		height: inherit;
	}

	.skills {
		height: inherit;
	}

	.projects_container {
		grid-template-columns: repeat(2, 1fr);
	}
}

/* Responsive Section End */

/* KEYFRAMES Animation Section */
@keyframes HomeBgText {
	0%,
	10%,
	100% {
		background-position: -45rem 0;
	}
	65%,
	85% {
		background-position: 0 0;
	}
}

@keyframes HomeCursorText {
	0%,
	10%,
	100% {
		width: 0;
	}
	65%,
	78%,
	85% {
		width: 100%;
		opacity: 1;
	}

	75%,
	81% {
		opacity: 0;
	}
}

/* KEYFRAMES Animation Section End*/
