@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
}

:root {
	--bg-color: #2a2a2a;
	--second-bg-color: #1f242d;
	--third-bg-color: #323946;
	--fourth-bg-color: #081b29;
	--fifth-bg-color: #112e42;
	--text-color: #ededed;
	--main-color: #1127f1;
}

html {
	font-size: 65%;
	overflow-x: hidden;
	color: var(--text-color);
}

body {
	background-color: var(--second-bg-color);
}

main {
	min-height: 100vh;
	padding: 10rem 9% 2rem;
}

/* Navbar Section */

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 2rem 9%;
	display: flex;
	background: transparent;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
}

.logo {
	font-size: 3rem;
	color: var(--text-color);
}

.logo span {
	color: var(--main-color);
}

.navbar > a {
	font-size: 1.5rem;
	font-weight: 500;
	margin-left: 3.5rem;
	color: var(--text-color);
	transition: 0.3s;
}

.navbar > a:hover {
	color: var(--main-color);
}

#menu-icon {
	font-size: 3.6rem;
	color: var(--text-color);
	cursor: pointer;
	display: none;
}

/* Navbar Section End */

/* Home Section */

.home {
	display: flex;
	align-items: center;
	padding: 0 9%;
	background: url('./assets/image/background_img.png') no-repeat;
	background-size: cover;
	background-position: 350px -580px;
}

.home_content {
	max-width: 60rem;
}

.home_content > h1 {
	font-size: 5.6rem;
	font-weight: 700;
	line-height: 1.3;
}

.home_content .text_animate {
	position: relative;
	width: 45rem;
}

.home_content .text_animate h3 {
	font-size: 3.2rem;
	font-weight: 700;
	color: transparent;
	-webkit-text-stroke: 0.7px var(--main-color);
}

.home_content > p {
	font-size: 1.6rem;
	margin: 2rem 0 4rem;
}

.btn_box {
	position: relative;
	display: flex;
	justify-content: space-between;
	width: 34.5rem;
	height: 5rem;
}

.btn_box > .btn {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 15rem;
	height: 100%;
	background: var(--main-color);
	border: 0.2rem solid var(--main-color);
	border-radius: 0.8rem;
	font-size: 1.8rem;
	font-weight: 600;
	letter-spacing: 0.1rem;
	color: var(--second-bg-color);
	z-index: 1;
	overflow: hidden;
	transition: 0.5s;
}

.btn_box > .btn:hover {
	color: var(--main-color);
}

.btn_box > .btn:nth-child(2) {
	background: transparent;
	color: var(--main-color);
}

.btn_box > .btn:nth-child(2):hover {
	color: var(--second-bg-color);
}

.btn_box > .btn:nth-child(2)::before {
	background: var(--main-color);
}

.btn_box > .btn::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: var(--second-bg-color);
	z-index: -1;
	transition: 0.5s;
}

.btn_box > .btn:hover::before {
	width: 100%;
}

.social_media-icons {
	position: absolute;
	bottom: 6rem;
	width: 170px;
	display: flex;
	justify-content: space-between;
}

.social_media-icons > a {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 4rem;
	height: 4rem;
	background: transparent;
	border: 0.2rem solid var(--main-color);
	border-radius: 50%;
	font-size: 2rem;
	color: var(--main-color);
	z-index: 1;
	overflow: hidden;
	transition: 0.5s ease;
}

.social_media-icons > a:hover {
	background: var(--main-color);
	color: var(--second-bg-color);
	box-shadow: 0 0 1rem var(--main-color);
}

.home_img-hover {
	position: absolute;
	top: 0;
	right: 0;
	width: 43%;
	height: 100%;
	background: transparent;
	transition: 2s;
}

.home_img-hover:hover {
	background: var(--second-bg-color);
	opacity: 0.6;
}

/* Home Section End */

/* About Section */

.about {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 1.5rem;
}

.about_img > img {
	max-width: 530px;
	height: auto;
	width: 100%;
	border-radius: 5px;
}

.about_text {
	width: 40%;
}

.about_text > h2 {
	font-size: 5rem;
	line-height: 1;
}

.about_text > h2 > span {
	color: var(--main-color);
}

.about_text > h4 {
	font-size: 3rem;
	font-weight: 600;
	line-height: 1.7;
	margin: 15px 0 30px;
}

.about_text > p {
	font-size: 1.5rem;
	line-height: 1.8;
	margin-bottom: 4rem;
}

/* About Section End */

/* Skills Section */

.skills {
	padding: 2rem 9% 7rem;
	min-height: auto;
	background: var(--second-bg-color);
}

.skills_heading {
	font-size: 5rem;
	line-height: 1;
	color: var(--text-color);
	text-align: center;
	padding: 4rem 0 4rem 0;
}

.skills_heading > span {
	color: var(--main-color);
}

.skills > .skills_row {
	display: flex;
	flex-wrap: wrap;
	gap: 5rem;
}

.skills_row > .skills_column {
	flex: 1 1 40rem;
}

.skills_column > .title {
	font-size: 2.5rem;
	margin: 0 0 1.5rem;
}

.progress > h3 > span {
	color: var(--main-color);
}

/* Skills Section End */
